<div class="position-fixed d-flex flex-column p-3 text-white bg-dark" style="height: 100%" id="sidebar">
    <span>Food To Go</span>
    <hr/>
    <div class="mt-2">
        <ul class="nav nav-pills flex-column mb-auto mt-2">
            <li><a [routerLink]="['']">Home</a></li>
            <li><a [routerLink]="['/add-item']">Add Menu Item</a></li>
            <!-- <li><a [routerLink]="['/cart']">View Approved Orders</a></li>
            <li><a [routerLink]="['/cart']">View Denied Orders</a></li>
            <li><a [routerLink]="['/cart']">View Completed Orders</a></li> -->
        </ul>
    </div>
    <div class="mt-auto">
        <a href="#">Sign Out</a>
    </div>
</div>
